# https://github.com/caddyserver/caddy-docker
{
	email alex.barbalex@gmail.com
	#acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	#debug
}

api.blue-borders.ch {
	reverse_proxy * {
		to bb_graphql:8080
		header_down Access-Control-Allow-Origin *
	}
}

auth.blue-borders.ch {
	reverse_proxy * {
		to bb_auth:7000
		header_down Access-Control-Allow-Origin *
		header_down Access-Control-Allow-Methods "HEAD, GET, POST, OPTIONS"
	}
}

www.new.blue-borders.ch {
	encode gzip
  reverse_proxy * {
    to bb_app:3000
    header_down Access-Control-Allow-Origin *
    header_down Access-Control-Allow-Methods "HEAD, GET, POST, OPTIONS"
  }
}

new.blue-borders.ch {
	encode gzip
  reverse_proxy * {
    to bb_app:3000
    header_down Access-Control-Allow-Origin *
    header_down Access-Control-Allow-Methods "HEAD, GET, POST, OPTIONS"
  }
}

api.mediterranean-migration.com {
	reverse_proxy * {
		to bb_graphql:8080
		header_down Access-Control-Allow-Origin *
	}
}

auth.mediterranean-migration.com {
	reverse_proxy * {
		to bb_auth:7000
		header_down Access-Control-Allow-Origin *
		header_down Access-Control-Allow-Methods "HEAD, GET, POST, OPTIONS"
	}
}
