.sub-pate-title {
  margin-top: -12px;
}

.ngo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ngo-container:not(:first-of-type) {
  margin-top: 20px;
}

.ngo-container:not(:last-of-type) {
  margin-bottom: 20px;
}

.ship-title {
  margin-top: 10px;
}

.ship-title::before {
  content: "⚓ '";
}

.ship-title::after {
  content: "'";
}

.ngo::before {
  /* content: '👥 '; */
}
