/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/*
 * without this setting something (the browser?) sets it to 10px
 * which fucks up react-datepicker
*/
html {
  font-size: 16px !important;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  hyphens: auto;
  overflow-x: hidden;
  overflow-y: auto;
  /* overflow-y: overlay; */
  /* scrollbar-gutter: stable;
  scrollbar-color: blue blue; */
}

a,
a:link {
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: rgba(0, 109, 255, 0.05) !important;
}

.col400,
.col500 {
  column-count: 1;
  column-gap: 20px;
}

/* prevent buttons from lying above the datepicker */
.react-datepicker-popper {
  z-index: 9;
}

/*--------------------------------*\
    3. #Events
\*--------------------------------*/
/**
 * unfortunately content does not seem to
 * come over correctly in object literal
 * so need to keep this here
 */
.events div.event-weather:before {
  font-family: 'Glyphicons Halflings';
  content: '\2601';
  font-size: 1.4em;
  position: absolute;
  top: -3px;
  left: -26px;
}

.events div.event-statistics:before,
.events div.event-monthlyStatistics:before {
  font-family: 'Glyphicons Halflings';
  content: '\e185';
  font-size: 1em;
  position: absolute;
  top: -2px;
  left: -23px;
}

.events div.event-victims:before {
  font-family: 'Glyphicons Halflings';
  content: '\e101';
  font-size: 1.3em;
  position: absolute;
  top: -4px;
  left: -26px;
}

.events div.event-highlighted:before {
  font-family: 'Glyphicons Halflings';
  content: '\e006';
  font-size: 1.3em;
  position: absolute;
  top: -5px;
  left: -23px;
}

h4.modal-title {
  font-weight: bold;
  font-size: 1.3em;
}

@media (min-width: 786px) {
  .col400 {
    column-count: 2;
  }

  .modal-lg.modal-dialog {
    width: 700px;
  }
}

@media (min-width: 992px) {
  .col400 {
    column-count: 3;
  }

  .col500 {
    column-count: 2;
  }

  .modal-lg.modal-dialog {
    width: 950px;
  }
}

@media (min-width: 1100px) {
  .modal-lg.modal-dialog {
    width: 1000px;
  }
}

@media (min-width: 1300px) {
  .modal-lg.modal-dialog {
    width: 1100px;
  }
}
